.list-container{
    background: rgb(211, 208, 204);
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    width:100%;
}
.list-container img{
    width: 100%;
}

.list-footer{
    display: flex;
}
.container{
    display: flex;
}